/* Basic Style */
#page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.plan-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.scheme-elsenhower {
  width: 100%;
}

.plan-matrix .plan-matrix__more-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .plan-matrix { 
    text-align: center;
  }

}

.task-bar {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-bar__add-block{
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

li, 
.task-bar__task-list-name {
  list-style: none;
}

input, 
button{
  outline: none;
}

.task-bar__edit-btn, 
.task-bar__add-block__add-btn, 
.task-bar__item__del-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-bar__add-block__add-btn:hover,
.task-bar__edit-btn:hover
{
  color: #3a3A3a;
}

/* Heading */

.task-bar__task-list-name, 
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-bar__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-bar__input:focus {
  color: #333;
}

/* New Task */

label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */

.task-bar__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-bar__item > * {
  vertical-align: middle;
}

.task-bar__item > input[type="checkbox"] {
  margin: 0 10px;
}

.task-bar__item > .task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-bar__item > .task-bar__input {
  width: 226px;
}

.task-bar__item__del-btn .task-bar__remove-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-bar__item__del-btn .task-bar__remove-img:hover {
  transform: rotateZ(0);
}

/* Completed */

#task-bar__compl-tasks .task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task-list .task-bar__item .task-bar__input {
  display: none;
}

.task-list .task-bar__item.task-bar__item__edit-mode_active .task-bar__input {
  display:inline-block;
  width: 224px;
}

.task-list .task-bar__item.task-bar__item__edit-mode_active .task {
  display: none;
}